# CONFIG_BOOTLOADER_WDT_ENABLE is not set
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
# CONFIG_ENABLE_WEBUI is not set
# CONFIG_ENABLE_ROS2 is not set
# CONFIG_ENABLE_SDCARD is not set
# CONFIG_ENABLE_CAMERA is not set
# CONFIG_ENABLE_SPI is not set
# CONFIG_ENABLE_I2C is not set
# CONFIG_ENABLE_GPS is not set
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_ESP32S2_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S2_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_USE_MEMMAP=y
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y
CONFIG_PM_ENABLE=y
CONFIG_PM_DFS_INIT_AUTO=y
CONFIG_OTA_ALLOW_HTTP=y
CONFIG_ESP_HTTPS_SERVER_ENABLE=y
CONFIG_ESP32_WIFI_STATIC_TX_BUFFER=y
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_SUPPORT_STATIC_ALLOCATION=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_FREERTOS_IDLE_TIME_BEFORE_SLEEP=2
